name: Azure Static Web Apps CI/CD

on:
  push:
    branches: [ main ]          # or master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: upload                               # <-- REQUIRED
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          app_location: "."             # folder containing index.html
          api_location: ""                             # no API
          output_location: ""                          # no build output
          skip_app_build: true                         # don't run Oryx

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - uses: Azure/static-web-apps-deploy@v1
        with:
          action: close
